<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covoiturage</title>
    <%- include("../style/style") -%>
</head>

<body>
    <div class="navbar">

        <a href="/" class="redir">Accueil</a>
        <a href="/test_voiture" class="redir">Test voiture</a>
        <a href="/lire_voiture" class="redir">Lire voiture</a>
        <a href="/creer_voiture" class="redir">Creer voiture</a>

    </div>