<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("style") -%>
</head>

<body>
    <div class=result-box>

        <% for (res of result) { %>

            <div class="vehicule">
                <div class="content">
                    <div class="marque">
                        <p>Marque: <%= res.getMarque() %>
                        </p>
                    </div>
                    <div class="couleur">
                        <p>Couleur: <%= res.getCouleur() %>
                        </p>
                    </div>
                    <div class="immatriculation">
                        <p>Immatriculation: <%= res.getImmatriculation() %>
                        </p>
                    </div>
                </div>
            </div>
    </div>

    <% } %>


        </div>
</body>

</html>